<h2>Log In to Fwitter</h2>
  <form action="/login" method="POST">
    <p>Username: <input type="text" id="username" name="username"></p>
    <p>Password: <input type="text" id="password" name="password"></p>
    <input type="submit" value="Log In" id="submit">
  </form>
