<h1>Sign Up for Fwitter</h1>

<form action ="/signup" method="POST">
  <p>Email: <input type="email" id="email"></p>
  <p>Username: <input type="text" id="username"></p>
  <p>Password: <input type="password" id="password"></p>
  <input type="submit" value ="Sign Up">
</form>
